{
  "modules": [
    {
      "name": "my_hostel",
      "git_url": "git@github.com:ceronem/my_hostel_test.git",
      "branch": "main",
      "enabled": true,
      "description": "Hostel Management Module"
    }
  ],
  "config": {
    "auto_update": true,
    "skip_existing": false,
    "clone_depth": 1
  }
}