{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Odoo: Debug Modules",
            "type": "debugpy",
            "request": "attach",
            "connect": {
                "host": "localhost",
                "port": 5678
            },
            "pathMappings": [
                {
                    "localRoot": "${workspaceFolder}/modules",
                    "remoteRoot": "${workspaceFolder}/modules"
                },
                {
                    "localRoot": "${workspaceFolder}/odoo",
                    "remoteRoot": "${workspaceFolder}/odoo"
                }
            ],
            "justMyCode": false,
            "django": false,
            "subProcess": true
        }
    ]
}